@import 'variables';

/* ↓↓↓ Global*/
* {
    font-family: $websiteFont;
    padding:0;
    margin:0;
    color: black;
    text-decoration: none;
}

/* ↓↓↓ Mobile query*/
header {
    #phnNmbr {
        background-color: rgba(226, 224, 224, 0.5);
        position: fixed;
        top: 20vh;
        right: 0;
        font-size: 2.5vh;
        font-weight: bolder;
        writing-mode: vertical-rl; /*arrange the text vertically*/
        text-orientation: upright; /*reading text from top to bottom*/
        padding: 2vh .5vh;
        border-radius: 3vh 0 0 3vh;
        z-index: 1; /*put the element in front*/
        img {
            width: 2.5vh;
        }
    }
}

/* ↓↓↓ Navigation bar code*/
nav {
    font-family: $websiteFont;
    display: grid; /*created a grid*/
    grid-template-columns: 1fr 1fr 1fr; /*created 3 columns*/
    width: 100%;
    justify-items: center;
    align-items: center;
    background-color: black;
    height: 12vh;
    #logo {
        width: 65vw;
    }
    
    /* ↓↓↓ Hides the menu*/
    #menu { 
        display: none; 
        position: fixed;
        top:12vh;
        height: 100vh;
        width: 100vw;
        background-color:rgba(238, 163, 155, 0.900); /*set the background color for the menu*/
        z-index: 2; /*set it to 2 so that the phone number that has z-index: 1 will be under it*/
    }

    /* ↓↓↓ Reveal the menu after the burger button is clicked*/
    #menuButton:checked ~ div { 
        display: block;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
    
    #menuButton {
        display: none; /*hide the actual checkbox*/
    }
    
    label {
        user-select: none;
    }

    /* ↓↓↓ Style for the menu*/
    ul {
        text-align: center;
        list-style-type: none;
        grid-row: 1 / 3;
        li {
            padding: 6vw;
            a {
            border-radius: 10px;
            background-color: black;
            padding: 3vw;
            color: white;
            font-size: 6vw;
            font-weight: bold;
            }
        }
    }

    #burgerButton {
        width: 10vw;
    }

    #phone {
        width: 12vw;
    }

    /* ↓↓↓ Social media icons and paragraph style*/
    #social {
        text-align: center;
        position: relative;
        bottom: 8vh;
        img {
            width: 8vw;
        }
    }
}

/* ↓↓↓ Tablet query - adjusted fonts, padding, sizes*/
@media only screen and (min-width: 426px) {
nav {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    width: 100vw;
    
    #logo {
        width: 40vw;
    }
    
    #burgerButton {
        width: 5vw;
    }

    #phone {
        display: none;
    }
    
    #social {
        img {
            width: 5vw;
        }
    }

    #menu {
        width: 40vw; /*adjusted the width of the menu div*/
    }
        ul {
            text-align:center;
            list-style-type: none; /*remove the style for unordered list*/
            
            li {
                padding: 4vw;
                a {
                border-radius: 10px;
                background-color: black;
                padding: 2vw;
                color: white;
                font-size: 3vw;
                font-weight: bold;
                }
            }
        }
    }
    header {
        #phnNmbr {
            font-size: 3.5vh;
            pointer-events: none; /*makes clickable or linked element unclickable*/

        }
        nav {
            #click {
                pointer-events: none;
            }
        }
    }
}

/* ↓↓↓ Desktop query*/
@media only screen and (min-width: 769px) {
    #burgerButton {
        display: none;
    }
    
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: normal;
        align-items: normal;
        
        a {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row: 1 / 3;
        }

        #social {
            position: fixed;
            top: 2.5vh;
            right: 1vw;
            p{
                color: white;
                font-size: 1vw;
            }
            img {
                width: 2vw;
            }
        }

        #logo {
            width: 20vw;
            position: relative;
            top:2vh;
            left: 1vw;
        }

        #menu {
            display: block;
            position: relative;
            top: 0;
            background:none;
            height: 0px;
            
            ul {
                display: flex; /*created a flexbox for the li items(navbar menu)*/
                column-gap: 3vh;
                align-items: center;
                position: fixed;
                top: 6vh;
                
                li {
                    padding:0;
                    margin: 0;
                    transition: .2s ease-in; /*transition effect for the button animation*/
                    &:hover { /*create a hover effect for the navbar menu*/
                        background-color: rgba(223, 194, 194, 0.7); /*set the background opacity to .7*/
                        border-radius: 7px 0px 7px 0px; /*adjusted the upper top left radius and lower right bottom*/
                    }

                    a {
                        background: none;
                        font-size: 1.5vw;
                        padding: 0;
                        margin: 0;
                        &:hover { /*still part of the hover effect for the navbar menu this time its for the font*/
                            color: black;
                        }
                    }
                }
            }
        }
    }

    header {
        #phnNmbr {
            font-size: 3.5vh;
            pointer-events: none;

        }
        nav {
            .click {
                pointer-events: none;
            }
            #logo {
                pointer-events: visible; /*makes the clickable or linked element clickable again*/
            }
        }
    }
}
