/*Global*/
$aboutFont: 'Raleway', sans-serif;
$websiteFont: 'Montserrat', sans-serif;

/*Tablet*/
$TprgrphFntSze: 3vw;
$Th1FntSze: 7vw;
$TftrFntSze: 2vw;
$TLnHght: 7vh;

/*Desktop*/
$DprgrphFntSze: 2vw;
$Dh1FntSze: 3vw;
$DftrFntSze: 1vw;
$DLnHght: 9vh;