@import 'variables';

/* ↓↓↓ Mobile query*/
body {
    font-family: $websiteFont;
    background-color:#eedede;
    display: grid;
    grid-template-rows: 2fr 15fr;
    width: 100vw;
    height: 100vh;
}

@import 'nav';

#content {
    display: grid;
    grid-template-rows: 3fr 3fr 1fr;
    width: 100vw;
    row-gap: 5vh;
    overflow-y: auto;
    font-family: $aboutFont;
    color: white;
    font-weight: bold;
    
    
    h1 {
        text-align: center;
        font-family: $websiteFont;
        margin-bottom: 10px;
    }
    p {
        font-weight: normal;
        text-align: justify;
        font-size: 5vw;
        margin: 5vw 10vw;
        line-height: 4vh; /*adjust the space in between the text/paragraph*/
    }
    footer {
        p {
        font-weight: normal;
        text-align: center;
        font-size: 3vw;
        line-height: 0;
        }
    }
}

#gallery {
    background-color: rgb(44, 44, 44);
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    max-width: 100%;
    overflow-x: auto; /*if there is an overflow it will add a horizontal scrollbar*/

    .photoGallery {
        width: 70vw;
        padding: 0 10vw; /*added padding left and right*/
    }
}

/* ↓↓↓ Tablet query*/
@media only screen and (min-width: 426px) {
    #content {
        h1 {
        font-family: $websiteFont;
        }

        p {
            font-size: $TprgrphFntSze;
            margin: 5vw 10vw;
            line-height: $TLnHght;
        }
    

        #gallery {
            height: 60vh;
            .photoGallery {
                width: 40vw;
                padding: 0 5vw;
            }
        }
        footer {
            p {
                margin: 0;
                font-weight: normal;
                text-align: center;
                font-size: $TftrFntSze;
            }
        }
    }
}

/* ↓↓↓ Desktop query*/
@media only screen and (min-width: 769px) {
    #content {
        h1 {
            padding-top: 4vh;
            font-size: $Dh1FntSze;
        }
        div {
            p {
                font-weight: normal;
                font-size: $DprgrphFntSze;
                line-height: 5vh;
                margin: 2vw 10vw;
            }
        }

        #gallery {
            height: 80vh;
            .photoGallery {
                width: 30vw;
            }
        }
        footer {
            p {
                margin: 0;
                font-weight: normal;
                font-size: $DftrFntSze;
            }
        }
    }
}