@charset "UTF-8";
/*Global*/
/*Tablet*/
/*Desktop*/
/* ↓↓↓ Mobile query*/
body {
  font-family: "Montserrat", sans-serif;
  background-color: #eedede;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 15fr;
      grid-template-rows: 2fr 15fr;
  width: 100vw;
  height: 100vh;
}

/*Global*/
/*Tablet*/
/*Desktop*/
/* ↓↓↓ Global*/
* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  color: black;
  text-decoration: none;
}

/* ↓↓↓ Mobile query*/
header #phnNmbr {
  background-color: rgba(226, 224, 224, 0.5);
  position: fixed;
  top: 20vh;
  right: 0;
  font-size: 2.5vh;
  font-weight: bolder;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  /*arrange the text vertically*/
  text-orientation: upright;
  /*reading text from top to bottom*/
  padding: 2vh .5vh;
  border-radius: 3vh 0 0 3vh;
  z-index: 1;
  /*put the element in front*/
}

header #phnNmbr img {
  width: 2.5vh;
}

/* ↓↓↓ Navigation bar code*/
nav {
  font-family: "Montserrat", sans-serif;
  display: -ms-grid;
  display: grid;
  /*created a grid*/
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  /*created 3 columns*/
  width: 100%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  height: 12vh;
  /* ↓↓↓ Hides the menu*/
  /* ↓↓↓ Reveal the menu after the burger button is clicked*/
  /* ↓↓↓ Style for the menu*/
  /* ↓↓↓ Social media icons and paragraph style*/
}

nav #logo {
  width: 65vw;
}

nav #menu {
  display: none;
  position: fixed;
  top: 12vh;
  height: 100vh;
  width: 100vw;
  background-color: rgba(238, 163, 155, 0.9);
  /*set the background color for the menu*/
  z-index: 2;
  /*set it to 2 so that the phone number that has z-index: 1 will be under it*/
}

nav #menuButton:checked ~ div {
  display: block;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #menuButton {
  display: none;
  /*hide the actual checkbox*/
}

nav label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav ul {
  text-align: center;
  list-style-type: none;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

nav ul li {
  padding: 6vw;
}

nav ul li a {
  border-radius: 10px;
  background-color: black;
  padding: 3vw;
  color: white;
  font-size: 6vw;
  font-weight: bold;
}

nav #burgerButton {
  width: 10vw;
}

nav #phone {
  width: 12vw;
}

nav #social {
  text-align: center;
  position: relative;
  bottom: 8vh;
}

nav #social img {
  width: 8vw;
}

/* ↓↓↓ Tablet query - adjusted fonts, padding, sizes*/
@media only screen and (min-width: 426px) {
  nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 7fr;
        grid-template-columns: 1fr 7fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
  nav #logo {
    width: 40vw;
  }
  nav #burgerButton {
    width: 5vw;
  }
  nav #phone {
    display: none;
  }
  nav #social img {
    width: 5vw;
  }
  nav #menu {
    width: 40vw;
    /*adjusted the width of the menu div*/
  }
  nav ul {
    text-align: center;
    list-style-type: none;
    /*remove the style for unordered list*/
  }
  nav ul li {
    padding: 4vw;
  }
  nav ul li a {
    border-radius: 10px;
    background-color: black;
    padding: 2vw;
    color: white;
    font-size: 3vw;
    font-weight: bold;
  }
  header #phnNmbr {
    font-size: 3.5vh;
    pointer-events: none;
    /*makes clickable or linked element unclickable*/
  }
  header nav #click {
    pointer-events: none;
  }
}

/* ↓↓↓ Desktop query*/
@media only screen and (min-width: 769px) {
  #burgerButton {
    display: none;
  }
  nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: normal;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
  nav a {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  nav #social {
    position: fixed;
    top: 2.5vh;
    right: 1vw;
  }
  nav #social p {
    color: white;
    font-size: 1vw;
  }
  nav #social img {
    width: 2vw;
  }
  nav #logo {
    width: 20vw;
    position: relative;
    top: 2vh;
    left: 1vw;
  }
  nav #menu {
    display: block;
    position: relative;
    top: 0;
    background: none;
    height: 0px;
  }
  nav #menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*created a flexbox for the li items(navbar menu)*/
    -webkit-column-gap: 3vh;
            column-gap: 3vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 6vh;
  }
  nav #menu ul li {
    padding: 0;
    margin: 0;
    -webkit-transition: .2s ease-in;
    transition: .2s ease-in;
    /*transition effect for the button animation*/
  }
  nav #menu ul li:hover {
    /*create a hover effect for the navbar menu*/
    background-color: rgba(223, 194, 194, 0.7);
    /*set the background opacity to .7*/
    border-radius: 7px 0px 7px 0px;
    /*adjusted the upper top left radius and lower right bottom*/
  }
  nav #menu ul li a {
    background: none;
    font-size: 1.5vw;
    padding: 0;
    margin: 0;
  }
  nav #menu ul li a:hover {
    /*still part of the hover effect for the navbar menu this time its for the font*/
    color: black;
  }
  header #phnNmbr {
    font-size: 3.5vh;
    pointer-events: none;
  }
  header nav .click {
    pointer-events: none;
  }
  header nav #logo {
    pointer-events: visible;
    /*makes the clickable or linked element clickable again*/
  }
}

#content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 3fr 1fr;
      grid-template-rows: 3fr 3fr 1fr;
  width: 100vw;
  row-gap: 5vh;
  overflow-y: auto;
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: bold;
}

#content h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}

#content p {
  font-weight: normal;
  text-align: justify;
  font-size: 5vw;
  margin: 5vw 10vw;
  line-height: 4vh;
  /*adjust the space in between the text/paragraph*/
}

#content footer p {
  font-weight: normal;
  text-align: center;
  font-size: 3vw;
  line-height: 0;
}

#gallery {
  background-color: #2c2c2c;
  height: 50vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  overflow-x: auto;
  /*if there is an overflow it will add a horizontal scrollbar*/
}

#gallery .photoGallery {
  width: 70vw;
  padding: 0 10vw;
  /*added padding left and right*/
}

/* ↓↓↓ Tablet query*/
@media only screen and (min-width: 426px) {
  #content h1 {
    font-family: "Montserrat", sans-serif;
  }
  #content p {
    font-size: 3vw;
    margin: 5vw 10vw;
    line-height: 7vh;
  }
  #content #gallery {
    height: 60vh;
  }
  #content #gallery .photoGallery {
    width: 40vw;
    padding: 0 5vw;
  }
  #content footer p {
    margin: 0;
    font-weight: normal;
    text-align: center;
    font-size: 2vw;
  }
}

/* ↓↓↓ Desktop query*/
@media only screen and (min-width: 769px) {
  #content h1 {
    padding-top: 4vh;
    font-size: 3vw;
  }
  #content div p {
    font-weight: normal;
    font-size: 2vw;
    line-height: 5vh;
    margin: 2vw 10vw;
  }
  #content #gallery {
    height: 80vh;
  }
  #content #gallery .photoGallery {
    width: 30vw;
  }
  #content footer p {
    margin: 0;
    font-weight: normal;
    font-size: 1vw;
  }
}
/*# sourceMappingURL=aboutUs.css.map */