* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 15fr;
      grid-template-rows: 2fr 15fr;
  overflow-y: hidden;
  background-color: #eedede;
  height: 100vh;
  width: 100vw;
}

* {
  padding: 0;
  margin: 0;
  color: black;
  text-decoration: none;
}

nav {
  font-family: "Montserrat", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  height: 12vh;
}

nav #logo {
  width: 65vw;
}

nav #menu {
  display: none;
  position: fixed;
  top: 12vh;
  height: 100vh;
  width: 100vw;
  background-color: rgba(238, 163, 155, 0.9);
  z-index: 1;
}

nav li {
  position: relative;
  top: 10vh;
}

nav #menuButton:checked ~ div {
  display: block;
}

nav #menuButton {
  display: none;
}

nav label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav ul {
  text-align: center;
  list-style-type: none;
}

nav ul li {
  padding: 6vw;
}

nav ul li a {
  border-radius: 10px;
  background-color: black;
  padding: 3vw;
  color: white;
  font-size: 8vw;
  font-weight: bold;
}

nav #burgerButton {
  width: 10vw;
}

nav #phone {
  width: 12vw;
}

@media only screen and (min-width: 426px) {
  nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 7fr;
        grid-template-columns: 1fr 7fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
  nav #logo {
    width: 45vw;
  }
  nav #burgerButton {
    width: 7vw;
  }
  nav #phone {
    display: none;
  }
  nav #menu {
    height: 100vh;
    width: 40vw;
    background-color: rgba(238, 163, 155, 0.9);
    background-size: 50vw;
    z-index: 1;
  }
  nav ul {
    text-align: center;
    list-style-type: none;
  }
  nav ul li {
    padding: 4vw;
  }
  nav ul li a {
    border-radius: 10px;
    background-color: black;
    padding: 3vw;
    color: white;
    font-size: 3vw;
    font-weight: bold;
  }
}

@media only screen and (min-width: 769px) {
  #burgerButton {
    display: none;
  }
  nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav a {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
  }
  nav #logo {
    width: 20vw;
    position: relative;
    left: 2vw;
  }
}

/*Pizza Menu*/
#pizzaMenu {
  display: none;
  height: 83vh;
  width: 100vw;
}

#subPizza:checked ~ #pizzaMenu {
  display: block;
  top: 3vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  overflow-y: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  row-gap: 2vh;
}

#subPizza {
  display: none;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/**Pizza menu end**/
/**Pasta menu**/
#pastaMenu {
  display: none;
  height: 82vh;
  width: 100vw;
}

img, div {
  position: relative;
  top: 0;
}

#subPasta:checked ~ #pastaMenu {
  display: block;
  top: 3vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  overflow-y: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  row-gap: 2vh;
}

#subPasta {
  display: none;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/**Pasta menu end**/
/*Drinks*/
#drinksMenu {
  display: none;
  height: 82vh;
  width: 100vw;
}

img, div {
  position: relative;
  top: 0;
}

#subDrinks:checked ~ #drinksMenu {
  display: block;
  top: 3vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  overflow-y: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  row-gap: 2vh;
}

#subDrinks {
  display: none;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h2 {
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 8vw;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

/*Drinks end*/
/*Chicken*/
#chickenMenu {
  display: none;
  height: 82vh;
  width: 100vw;
}

img, div {
  position: relative;
  top: 0;
}

#subChicken:checked ~ #chickenMenu {
  display: block;
  top: 3vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  overflow-y: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  row-gap: 2vh;
}

#subChicken {
  display: none;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*Dessert*/
#dessertMenu {
  display: none;
  height: 82vh;
  width: 100vw;
}

img, div {
  position: relative;
  top: 0;
}

#subDessert:checked ~ #dessertMenu {
  display: block;
  top: 3vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  overflow-y: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  row-gap: 2vh;
}

#subDessert {
  display: none;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*Dessert end*/
.name {
  font-weight: bolder;
  font-size: 7vw;
}

.description, .price {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 4vw;
  font-weight: bold;
}

.price {
  font-size: 5vw;
  font-weight: bolder;
}

.menuPhoto {
  border-radius: 10px;
  width: 35vw;
}

main input, main label {
  position: relative;
  left: 6vw;
  top: 1vh;
  padding: 0 2vw;
  font-size: 4vw;
  font-weight: bolder;
  text-decoration: underline;
}

main img {
  margin-left: 1vw;
}

main div p {
  margin-left: 3vw;
  margin-right: 1vw;
}

@media only screen and (min-width: 426px) {
  .menuPhoto {
    width: 20vw;
  }
  .name {
    font-size: 4vw;
  }
  .description, .price {
    font-size: 2.5vw;
  }
  h2 {
    font-size: 4vw;
  }
}
/*# sourceMappingURL=menu.css.map */