* {
  padding: 0;
  margin: 0;
  color: black;
  text-decoration: none;
}

body {
  background-color: #eedede;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 9fr;
      grid-template-rows: 1fr 9fr;
  width: 100%;
  height: 100%;
}

nav {
  font-family: "Montserrat", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  height: 10vh;
}

nav #menu {
  display: none;
  position: fixed;
  top: 10vh;
  height: 100vh;
  width: 100vw;
  background-color: #eea39b;
}

nav li {
  position: relative;
  top: 10vh;
}

nav #logo {
  width: 60vw;
}

nav #menuButton:checked ~ div {
  display: block;
}

nav #menuButton {
  display: none;
}

nav label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav ul {
  text-align: center;
}

nav ul li {
  padding: 15px;
}

nav ul li a {
  border-radius: 10px;
  background-color: salmon;
  -webkit-box-shadow: 5px 5px 5px 5px burlywood;
          box-shadow: 5px 5px 5px 5px burlywood;
  padding: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}

nav #burgerButton {
  width: 15vw;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  height: 100vh;
  width: 100vw;
}

#sub {
  width: 100vw;
  padding-top: 2vh;
  padding-bottom: 1vh;
  text-align: center;
}

#sub a {
  font-size: 4vw;
  margin: 2vw;
}

/*Pizza Menu*/
#pizzaMenu {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  row-gap: 2vh;
}

.pizza {
  border-radius: 10px;
  width: 35vw;
}

/**Pizza menu end**/
/**Pasta menu**/
#pastaMenu {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  row-gap: 2vh;
}

.pasta {
  border-radius: 10px;
  width: 35vw;
}

/**Pasta menu end**/
/*Drinks*/
#beverage {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  row-gap: 2vh;
}

#beverage h2 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 8vw;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

#beverage .drinks {
  border-radius: 10px;
  width: 35vw;
}

/*Drinks end*/
/*Chicken*/
#chicken {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  row-gap: 2vh;
}

#wings {
  border-radius: 10px;
  width: 35vw;
}

/*Chicken end*/
/*Dessert end*/
#dessert {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  row-gap: 2vh;
}

#brownies {
  border-radius: 10px;
  width: 35vw;
}

/*Dessert end*/
.name {
  font-weight: bolder;
  font-size: 7vw;
}

.description {
  font-family: "Dancing Script", cursive;
  font-size: 5vw;
}

main img {
  margin-left: 2vw;
}

main div p {
  margin-left: 3vw;
}
/*# sourceMappingURL=menu.css.map */