@import 'variables';

* {
    padding:0;
    margin:0;
    font-family: $websiteFont;
}

body {
    display: grid;
    grid-template-rows: 2fr 15fr;
    height: 100vh;
    width: 100vw;
    background-color:#eedede;
}

@import 'nav';

#content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    width: 100vw;
    
    img {
        display: block;
        width: 100vw;
    }

    p {
        margin-top: 5vh;
        text-align: center;
        font-weight: normal;
    }
}