@import 'variables'; /*imported variables*/

/* ↓↓↓ Global*/
* {
    padding:0;
    margin:0;
    font-family: $websiteFont;
}

/* ↓↓↓ Mobile*/
body {
    display: grid;
    grid-template-rows: 2fr 15fr;
    height: 100vh;
    width: 100vw;
    background-color:#eedede;
}

@import 'nav'; /*imported the navbar style or design*/

#content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    overflow-y: auto; /*if there is an overflow it will add a vertical scrollbar*/
    width: 100vw;

    iframe {
        display: none;
    }

    img {
        display: block;
        width: 100vw;
    }

    p {
        margin-top: 5vh;
        text-align: center;
        font-weight: normal;
    }

    footer {
        p {
        font-weight: normal;
        text-align: center;
        font-size: 3vw;
        }
    }
}

/* ↓↓↓ Tablet*/
@media only screen and (min-width: 426px) {
    #content {
        footer {
                p {
                font-weight: normal;
                text-align: center;
                font-size: $TftrFntSze; /*set the font size using variable*/
            }
        }
    }
}

/* ↓↓↓ Desktop*/
@media only screen and (min-width: 769px) {
    #content {
        display: grid; /*created a grid*/
        grid-template-columns: 1fr 1fr 1fr; /*created 3 columns*/
        grid-template-rows: 3fr 1fr 1fr; /*created 3 rows*/
        justify-items: center;
        align-items: center;
        width: 100vw;
        img {
            object-fit: cover; /*fit the image in the container*/
            width: 100%;
        }

        #img1 {
            grid-column: 1 / 2; /*position the image in the first column*/
            grid-row: 2 / 3; /*position the image in the second row*/
        }
        
        div{
            width: 100%;
            background-color: black;
            grid-column: 1 / 4;
            iframe {
                position: relative;
                left: 50%;
                transform: translateX(-50%); /*move the item horizontally*/
                display: block;
                width: 80vw;
                height: 80vh;
            }
        }
        
        footer {
            grid-column: 1 / 4;
            p {
                font-size: $DftrFntSze;
                font-weight: normal;
                font-size: 1vw;
            }
        }
    }
}